@model List<CarHistory>

@{
    ViewData["Title"] = "Car Histories";
}

<h3>Car Histories</h3>
<br />
<div>
    <table class="table-striped">
        <tr>
            <th>DateFirstSeen</th>
            <th>DateLastSeen</th>
            <th>DateScraped</th>
            <th>Price</th>
            <th>SellerName</th>
            <th>SellerType</th>
            <th>CarState</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateFirstSeen.ToShortDateString()</td>
                <td>@item.DateLastSeen.Value</td>
                <td>@item.DateScraped.Value</td>
                <td>@item.Price</td>
                <td>
                    <a title="Click to check @item.Dealer.Name info!" asp-controller="Car" asp-action="GetCarsByDealerId" asp-route-dealerId="@item.Dealer.Id">@item.Dealer.Name</a>
                </td>
                <td>@item.Dealer.Status</td>
                <td>@item.CarState.ToString()</td>
            </tr>
        }
    </table>
</div>

