@model List<Car>

@{
    ViewData["Title"] = "Home";
}

<h1>Wellcome to the First Car Market!!!</h1>

<h3>New Cars In Sale!!! Hurry Up!!!</h3>
<br />
<div>
    <table class="table table-striped">
        <tr>
            <td>Model Name</td>
            <td>CarState</td>
            <td>VinCode</td>
            <td>Price</td>
            <td>Dealer</td>
            <td>CarStatus</td>
            <td>Photo</td>
            <td>Link</td>
        </tr>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td><a title="Click to check @item.Name info!" asp-controller="Car" asp-action="GetSingleCar" asp-route-vinCode="@item.VinCode">@item.Name</a></td>
                    <td>@item.CarState</td>
                    <td><a title="Click to check @item.Name history!" asp-controller="CarHistory" asp-action="GetHistoryByVin" asp-route-vin="@item.VinCode">@item.VinCode</a></td>
                    <td>@item.Price.ToString("F2")</td>
                    <td><a title="Click to check @item.Name info!" asp-controller="Car" asp-action="GetCarsByDealerId" asp-route-dealerId="@item.Dealer.Id">@item.Dealer.Name</a></td>
                    <td>@item.CarStatus</td>
                    <td>@item.CarPhotoLinks.Count()</td>
                    <td><a href="@item.UrlPage">Redirect...</a></td>
                </tr>
            }
        }
    </table>
</div>

