@model List<Car>

@{
    ViewData["Title"] = "Car List";
    Dealer dealer = ViewData["CarDealer"] != null ? (Dealer)ViewData["CarDealer"] : null;
}

@if (dealer != null)
{
    <h3>Car Models List Of @dealer.Name</h3>
    <h5>@dealer.Street, @dealer.City, @dealer.CountryState</h5>
    <h5>phone: @dealer.ContactPhone</h5>
}

<br />
<div>
    <table class="table table-striped">
        <tr>
            <th>Model Name</th>
            <th>CarState</th>
            <th>VinCode</th>
            <th>Price</th>
            <th>Dealer</th>
            <th>CarStatus</th>
            <th>Photo</th>
            <th>Link</th>
        </tr>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td><a title="Click to check @item.Name info!" asp-controller="Car" asp-action="GetSingleCar" asp-route-vinCode="@item.VinCode">@item.Name</a></td>
                    <td>@item.CarState</td>

                    @if (item.CarHistories.Count > 0)
                    {
                        <td><a title="Click to check @item.Name history!" asp-controller="CarHistory" asp-action="GetHistoryByVin" asp-route-vin="@item.VinCode">@item.VinCode</a></td>
                    }
                    else
                    {
                        <td>@item.VinCode</td>
                    }
                    <td>@item.Price.ToString("F2")</td>
                    <td>@item.Dealer.Name</td>
                    <td>@item.CarStatus</td>
                    <td>@item.CarPhotoLinks.Count()</td>
                    <td><a href="@item.UrlPage">Redirect...</a></td>
                </tr>
            }
        }
    </table>
</div>

