@model List<CarHistory>

@{
    ViewData["Title"] = "Car Histories";
}

<h3>Car Histories</h3>
<br />
<div>
    <table class="table-striped">
        <tr>
            <td>DateFirstSeen</td>
            <td>DateLastSeen</td>
            <td>DateScraped</td>
            <td>Price</td>
            <td>SellerName</td>
            <td>SellerType</td>
            <td>CarState</td>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.DateFirstSeen.ToShortDateString()</td>
        <td>@item.DateLastSeen.HasValue? @item.DateLastSeen.Value.ToShortDateString():"No data"</td>
        <td>@item.DateScraped.HasValue? @item.DateScraped.Value.ToShortDateString():"No data"</td>
        <td>@item.Price.ToString("F2")</td>
        <td>@item.Dealer.Name</td>
        <td>@item.Dealer.Status</td>
        <td>@item.CarState</td>
    </tr>
        }
    </table>
</div>

